*.pyc
*.3pcap
config.log
config.h
makefile.dep
config.status
*.manfile
*.manmisc
*.o
*.lo
*.a
*.la
/libdnet-stripped/**/Makefile
/libdnet-stripped/Makefile
.libs
/libnetutil/Makefile
ncat/Makefile
/nmap_config.h
/nmap
/ncat/ncat
build
/nsock/nsock_config.h
/nsock/**/Makefile
/libpcap/Makefile
/libpcre/Makefile
/Makefile
